{% extends "paginas/lista_inspecoes.html" %}

{% block nome_pagina%}
    Inspeções Concluídas
{%endblock%}

{% block lista_moderador%}
    {% if mod_is_empty %}
        <h1>Nada para ver aqui ainda.</h1>
    {% else %}
        {% for inspecao in inspecoes %}
        <tr>
            <th scope="row">{{inspecao.titulo}}</th>
            <td>{{inspecao.artefato}}</td>
            <td>{{inspecao.created_at}}</td>
            <td>Concluída em:{{inspecao.finished_at}}</td>
        </tr>
        {% endfor %}
    {% endif %}
{%endblock%}



{% block lista_inspetor %}
    {% if insp_is_empty %}
        <h1>Nada para ver aqui. Circulando.</h1>
    {% else %}
        {% for inspecao in inspecoes %}
        <tr>
            <th scope="row">{{inspecao.titulo}}</th>
            <td>{{inspecao.artefato}}</td>
            <td>{{inspecao.created_at}}</td>
            <td>Concluída em:{{inspecao.finished_at}}</td>
        </tr>
        {% endfor %}
    {% endif %}
{% endblock %}