{% extends "paginas/lista_inspecoes.html" %}

{% block nome_pagina%}
    Inspeções Concluídas
{%endblock%}

{% block lista_moderador%}
    {% for inspecao in inspecoes_moderador %}
        <tr>
            <th style="max-width: 4vw;" scope="row">{{inspecao.titulo}}</th>
            <td style="max-width: 4vw;">{{inspecao.artefato}}</td>
            <td style="max-width: 3vw;">{{inspecao.created_at}}</td>
            <td style="max-width: 3vw;">
                {% if inspecao.inspecao_cancelada %}
                    <a href="{% url 'exportar' inspecao.pk %}" class="btn btn-outline-dark py-0 px-1">
                        Cancelada em:<br>
                        {{inspecao.finished_at}}
                    </a>
                {% else %}
                    <a href="{% url 'exportar' inspecao.pk %}" class="btn btn-outline-dark py-0 px-1">
                        Concluída em:<br>
                        {{inspecao.finished_at}}
                    </a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Você nunca concluiu uma inspeção.</h1>
            </th>
        </tr>
    {% endfor %}
{%endblock%}

{% block lista_inspetor %}
    {% for inspecao in inspecoes_inspetor %}
        <tr>
            <th style="max-width: 4vw;" scope="row">{{inspecao.titulo}}</th>
            <td style="max-width: 4vw;">{{inspecao.artefato}}</td>
            <td style="max-width: 3vw;">{{inspecao.created_at}}</td>
            <td style="max-width: 3vw;">
                {% if inspecao.inspecao_cancelada %}
                    <a href="{% url 'exportar' inspecao.pk %}" class="btn btn-outline-dark py-0 px-1">
                        Cancelada em:<br>
                        {{inspecao.finished_at}}
                    </a>
                {% else %}
                    <a href="{% url 'exportar' inspecao.pk %}" class="btn btn-outline-dark py-0 px-1">
                        Concluída em:<br>
                        {{inspecao.finished_at}}
                    </a>
                {% endif %}
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nenhuma inspeção registrada a você foi concluída.</h1>
            </th>
        </tr>
    {% endfor %}
{% endblock %}