{% extends "paginas/lista_inspecoes.html" %}

{% block nome_pagina%}
    Inspeções Concluídas
{%endblock%}

{% block lista_moderador%}
    {% for inspecao in inspecoes_moderador %}
        <tr>
            <th scope="row">{{inspecao.titulo}}</th>
            <td>{{inspecao.artefato}}</td>
            <td>{{inspecao.created_at}}</td>
            <td>Concluída em:{{inspecao.finished_at}}</td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nada para ver aqui ainda.</h1>
            </th>
        </tr>
    {% endfor %}
{%endblock%}

{% block lista_inspetor %}
    {% for inspecao in inspecoes_inspetor %}
        <tr>
            <th scope="row">{{inspecao.titulo}}</th>
            <td>{{inspecao.artefato}}</td>
            <td>{{inspecao.created_at}}</td>
            <td>Concluída em:{{inspecao.finished_at}}</td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nada para ver aqui. Circulando.</h1>
            </th>
        </tr>
    {% endfor %}
{% endblock %}