{% extends "paginas/lista_inspecoes.html" %}

{% block nome_pagina%}
    Inspeções em Aberto
{%endblock%}

{% block lista_moderador%}
    {% for inspecao in inspecoes_moderador %}
        <tr>
            <th style="max-width: 4vw;" scope="row">{{inspecao.titulo}}</th>
            <td style="max-width: 4vw;">{{inspecao.artefato}}</td>
            <td style="max-width: 3vw;">{{inspecao.limit_date}}</td>
            <td style="max-width: 3vw;"><a class="btn p-0">Estágio: {{inspecao.status}}</a></td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nada para ver aqui ainda.</h1>
            </th>
        </tr>
    {% endfor %}
{%endblock%}


{% block criacao %}Data Limite{% endblock %}

{% block lista_inspetor %}
    {% for inspecao in inspecoes_inspetor %}
    <tr>
        <th style="max-width: 4vw;" scope="row">{{inspecao.titulo}}</th>
        <td style="max-width: 4vw;">{{inspecao.artefato}}</td>
        <td style="max-width: 3vw;">{{inspecao.limit_date}}</td>
        <td style="max-width: 3vw;"><a class="btn p-0">Estágio: {{inspecao.collection_status}}</a></td>
    </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nada para ver aqui. Circulando.</h1>
            </th>
        </tr>
    {% endfor %}
{% endblock %}