{% extends "paginas/lista_inspecoes.html" %}

{% block nome_pagina%}
    Inspeções em Aberto
{%endblock%}

{% block lista_moderador%}
    {% for inspecao in inspecoes_moderador %}
        <tr>
            <th scope="row">{{inspecao.titulo}}</th>
            <td>{{inspecao.artefato}}</td>
            <td>{{inspecao.limit_date}}</td>
            <td>Estágio:{{inspecao.status}}</td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nada para ver aqui ainda.</h1>
            </th>
        </tr>
    {% endfor %}
{%endblock%}


{% block criacao %}Data Limite{% endblock %}

{% block lista_inspetor %}
    {% for inspecao in inspecoes_inspetor %}
        <tr>
            <th scope="row">{{inspecao.titulo}}</th>
            <td>{{inspecao.artefato}}</td>
            <td>{{inspecao.limit_date}}</td>
            <td>Estágio:{{inspecao.collection_status}}</td>
        </tr>
    {% empty %}
        <tr>
            <th colspan="4">
                <h1>Nada para ver aqui. Circulando.</h1>
            </th>
        </tr>
    {% endfor %}
{% endblock %}