{% extends "template_main.html" %}
{%load static%}

{% block conteudo %}
<div class="pt-3 px-4">

    <table class="table table-sm table-hover table-striped text-center">
        <thead class="table table-dark px-4 content-around">
            <tr class="bg-primary">
                <th scope="col">Título</th>
                <th scope="col">Moderador</th>
                <th scope="col">Criação</th>
                <th scope="col"><a class="btn btn-dark">\/</a></th>
            </tr>
        </thead>
        <tbody>
            {% block lista_moderador%}

            {% endblock %}
        </tbody>
    </table>

    <table class="table table-sm table-hover table-striped text-center">
        <thead class="table table-dark px-4 content-around">
            <tr class="bg-primary">
                <th scope="col">Título</th>
                <th scope="col">Inspetor</th>
                <th scope="col">{% block criacao %}Criação{% endblock %}</th>
                <th scope="col"><a class="btn btn-dark">
                    <img src="{% static 'img/dropdown-branco.png' %}" w>
                </a></th>
            </tr>
        </thead>
        <tbody>
            {% block lista_inspetor%}

            {% endblock %}
        </tbody>
    </table>
</div>

{% endblock %}