{% extends "template_main.html" %}

{% load static %}

{% block nome_pagina %}
    Usuários
{% endblock %}

{% block btn_voltar_pagina %}
<div class="label_menu_left">
    <a href="{% url 'users-index' %}">Voltar</a>
</div>
{% endblock %}

{% block btn_sair %}
<div class="right">
    <a href="{% url 'users-logout' %}">Sair</a>
</div>
{% endblock %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="login">
    <div class="card-cadastrar">
        <div class="card-header">
            <h1>Listar Usuários</h1>
        </div>

        <div class="card-content-list">
            <div class="card-cadastro-list">
                <select name="cars" id="cars">
                    <option value="ordenar_az">Ordenar A-Z</option>
                    <option value="ordenar_za">Ordenar Z-A</option>
                </select>
                <form action="?" method="get">
                </form>
            </div>
        </div>
        <br>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Usuário</th>
                <th>Opções</th>
            </tr>
            {% for usuario in object_list %}
            <tr>
                <TD>{{ usuario.first_name }}</TD>
                <TD>{{ usuario.email }}</TD>
                <TD>{{ usuario.username }}</TD>
                <TD>
                    <a href="{% url 'users-alterar' usuario.pk %}">Alterar</a>
                    <!-- <a href="">Excluir</a> -->
                </TD>
            </tr>
            {% empty %}
            <tr>
                <td id="table" colspan="5">Nenhum usuário cadastrado.</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <div class="pagina">
            <span>Página: {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            <div class="page-nav">
                {% if page_obj.has_previous %}

                {% else %}
                <a href="?page=1">Primeira</a>
                {% comment %} <a href="?page={{ page_obj.previous_page_number }}">Anterior</a> {% endcomment %}

                {% endif %}

                {% if page_obj.has_next %}
                {% else %}
                {% comment %} <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última</a> {% endcomment %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
<br>
{% endblock %}

{% block scripts %}
<!-- <script>
    $(document).ready(function(){
        alert("importação ok")
    })
</script> -->
{% endblock %}