{% extends "template_main.html" %}

{% block nome_pagina %}
Coleção - Monitor
{% endblock %}

{% block conteudo %}
<div class="bg-secondary text-white border border-dark rounded text-center titulo_disc pt-1 mt-2 mb-1 mx-3">
    <h3>
        {{titulo_inspecao}} - Discrepancia {{num_discrepancia}}
    </h3>
</div>
<div class="d-flex justify-content-center">
    <div class="p-1 bg-black rounded "  style="width: 30%; height: 85vh;">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light rounded" style="height: 100%;">
            <ul class="list-group list-group-flush" style="height: 69vh;">
                {% for discrepancia in discrepancias %}
                    <li class="list-group-item list-group-item-action">{{discrepancia}}</li>
                {% endfor %}
            </ul>
            <div class="d-flex align-items-center justify-content-around border-top border-dark pt-3" style="height: 10vh;">
                <button class="btn btn-primary">Nova Discrepancia</button>
                <button class="btn btn-success">Submeter Inspeção</button>
            </div>
        </div>
    </div>
    <div class="px-2" style="width: 65%;">
        
        
    </div>
</div>

{% endblock %}