{% extends "template_main.html" %}

{% block nome_pagina %}
Detecção - Monitor
{% endblock %}

{% block conteudo %}
<div class="bg-secondary text-white border border-dark rounded text-center titulo_disc pt-1 mt-2 mb-1 mx-3">
    <h3>
        {{inspecao}} - Detecção
    </h3>
</div>
<div class="d-flex justify-content-center">
    <div class="p-1 bg-black rounded" style="width: 40%; height: 80vh;">
        <div class="d-flex flex-column p-3 bg-light rounded" style="height: 100%;">
            <table class="table table-hover table-striped text-center">
                <thead class="border-bottom border-dark m-2">
                    <th scope="col">Inspetor</th>
                    <th scope="col">Discrepâncias Registradas</th>
                    {% comment %} <th scope="col">Status</th> {% endcomment %}
                </thead>
                <tbody>
                    {% for inspetor in inspetores %}
                    <tr>
                        <th scope="row">{{inspetor.responsavel__username}}</th>
                        <td>{{inspetor.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="mt-auto d-flex align-items-center justify-content-around border-top border-dark pt-3">
                <b>Total</b>
                <span>{{soma_discrepancias}}</span>
                {% comment %} <span>{{inspetores_concluidos}}/{{inspetores_totais}}</span> {% endcomment %}
            </div>
        </div>
    </div>

    <div class="px-2 d-flex flex-column px-5" style="width: 57%;">
        <div class="flex-row text-justify my-auto">
            <b class="">Artefato:</b>
            <br>
            <a href="{{inspecao.link}}">
                {{inspecao.link}}
            </a>
        </div>
        <div class="flex-row text-justify my-auto">
            <b class="">Prazo Limite:</b>
            <br>
            <span>{{inspecao.data_limite}}</span>
        </div>
        <div class="flex-row mt-auto d-flex justify-content-around py-3">
            <button class="btn btn-danger">Cancelar Inspeção</button>
            <form method="POST"> 
                {% csrf_token %}
                <button type="submit" name="concluir_deteccao" class="btn btn-success">Concluir Detecção</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}