{% extends "template_main.html" %}
{% load static %}
{% load custom_filters %}


{% block conteudo %}
<form method="post" class="col-6 mx-auto p-2">
    {% csrf_token %}

    {% for field in form %}
        <div class="form-group mx-4 my-2">
            {% if field|is_datetime %}
                {{ field.label_tag}}
                {{ field|add_class:'form-control' }}
            {% elif field|is_checkbox %}
                {{ field|add_label_class:'form-check-label' }}
                {{ field|add_class:'form-check-input' }}
            {% else %}
                {{ field.label_tag}}
                {{ field|add_class:'form-control' }}
            {% endif %}
        </div>
        
    {% empty %}
        <h1>Erro imprevisto. Por favor contate o suporte.</h1>

    {% endfor %}

    <div class="d-flex justify-content-center">
        <button class="btn btn-primary border border-dark" type="submit">Salvar</button>
    </div>
</form>
{% endblock %}